__pycache__/
*.py[cod]
*$py.class

# Large datasets & images
datasets/alphabet_images/
*.jpg
*.png
*.jpeg

.venv*/
venv/
env/
.env
.env.*

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.DS_Store
.idea/
.vscode/

logs/*.log
pretrained/alphabet/*
pretrained/phrases/*
!pretrained/alphabet/.gitkeep
!pretrained/phrases/.gitkeep
